:root {
  --primary-color: #4caf4f;
  --secondary-color: #263238;
  --neutral-grey: #4d4d4d;
  --neutral-silver: #f5f7fa;
  --info-color: #2194f3;
}
/*Global styles*/
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--neutral-grey);
}
.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--neutral-silver);
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #388e3b;
}
.text {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
  color: var(--neutral-grey);
}
.sub-headding-h2 {
  color: var(--neutral-grey);
  font-size: 36px;
  margin-bottom: 0;
  text-align: center;
}
/* start header styles*/
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header .container .logo {
  width: 30%;
}
.header .container .navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header .container .navbar ul li a {
  padding: 0 15px;
}
/*End header styles*/

/*Start hero section*/

.hero {
  background-color: var(--neutral-silver);
  height: 90vh;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.hero .container .hero-left-content {
  width: 65%;
}
.hero .container .hero-left-content h1 {
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--neutral-grey);
  margin-top: 0px;
}
.hero .container .hero-left-content h1 span {
  color: var(--primary-color);
}
.hero .container .hero-right-content {
  text-align: center;
}
/*End hero section*/

/*Start our clients section*/

.our-clients {
  padding: 20px 0;
  margin-bottom: 60px;
}
.our-clients .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-clients .container .our-clients-icons img {
  display: inline-block;
}
.our-clients .container .our-clients-icons {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 10px;
}
/*End our clients section*/

/*Start who we serve*/

.who-we-serve {
  margin-bottom: 50px;
}
.who-we-serve .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.who-we-serve .container .who-we-serve-items {
  display: flex;
  justify-content: space-around;
}
.who-we-serve .container .who-we-serve-items .item {
  width: 24%;
  text-align: center;
  box-shadow: 0px 1.39px 2.78px #abbed1;
  padding: 15px 20px;
  border-radius: 8px;
}
.who-we-serve .container .who-we-serve-items .item h3 {
  font-weight: bold;
  font-size: 20px;
}
/*End who we serve*/

/*Start more info seciton*/

.more-info .container {
  display: flex;
  justify-content: space-around;
}
.more-info .container .left-more-info-content {
  text-align: center;
  width: 40%;
  padding: 0 0 0 50px;
}
.more-info .container .right-more-info-content {
  width: 40%;
  padding: 0 50px 0 0;
}
.more-info .container .right-more-info-content h2 {
  text-align: left;
}

/*End more info seciton*/
